*{
	margin: 0;
	padding: 0;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	letter-spacing: 2px;
}

html,body{
	height: 100%;
}

div#container{
	min-height: 100%;
	height: 100%;
	background-color: #fcfcfc;
}

body > div#container{
	height: auto;
}

#flashMessage {
	font-size: 12px !important;
	color: red;
	height: 20px !important;
	line-height: 20px !important;
	width: 272px;
	margin-top: 5px !important;
	margin-bottom: -15px !important;
}


/*----------ヘッダー部分のスタイル----------*/

header{
	width: 100%;
	background-color: #ffffff;
	height: 46px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow:  2px 2px 5px rgba(92, 154, 239, 0.4), -2px -2px 5px rgba(92, 154, 239, 0.4);
}

#inner-header{
	width: 300px;;
	/*overflow: hidden;*/
	margin: 0 auto;
	height: 100%;
	position: relative;
}

#inner-header img{
	display: block;
	width: 70px;
	height: 25px;
	float: left;
	margin-top: 12px;
}

#inner-header nav{
	display: none;
	width: 100px;
	float: right;
	height: 100%;
}

#inner-header ul{
	list-style-type: none;
	/*overflow: hidden;*/
	height: 100%;
	width: 100%;
	text-align: right;
}

#inner-header li{
	height: 100%;
	line-height: 80px;
	float: right;
	margin-left: 15px;
	font-size: 14px;
}

#inner-header li a{
	display: none;
}

#modal-zone #login-btn{
	display: none;
}

img.mb-menu-btn{
	margin-top: 10px !important;
	width: 32px !important;
	height: 25px !important;
	float: right !important;
}

#mobile-menu-list{
	width: 100%;
	border: solid 1px #dddddd;
	background-color: #ffffff;
	display: none;
	text-align: center;
}

#mobile-menu-list li{
	background-color: #d2d7db;
	text-align: center;
	height: 70px;
	line-height: 70px;
	border-bottom: solid 1px #adb5bc;
}

#mobile-menu-list li a{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

#mobile-login-li{
	padding-top: 15px;
	height: 55px !important;
	line-height: 40px !important;
}

a.mb-login-btn{
	display: block!important;
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	width: 270px;
	margin: 0 auto;
	text-align: center;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
	border:1px solid #277ae6;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #62a2f5), color-stop(100%, #5291e9) );
	background:-moz-linear-gradient( center top, #62a2f5 5%, #5291e9 100% );
	background:-ms-linear-gradient( top, #62a2f5 5%, #5291e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62a2f5', endColorstr='#5291e9');
	background-color:#62a2f5;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #204e8a;
	-webkit-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	-moz-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	box-shadow:inset 1px 1px 0px 0px #6da7f2;
}

#modal-zone{
	position: relative;
	margin-top: 0px;
	width: 100px;
}

#modal-zone #login-btn{
	display: block !important;
	width: 80px;
	text-align: center;
	margin-top: 25px;
	margin-left: auto;
	height: 25px;
	line-height: 25px;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:25px;
	border:1px solid #277ae6;
	/*padding:4px 15px;*/
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #62a2f5), color-stop(100%, #5291e9) );
	background:-moz-linear-gradient( center top, #62a2f5 5%, #5291e9 100% );
	background:-ms-linear-gradient( top, #62a2f5 5%, #5291e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62a2f5', endColorstr='#5291e9');
	background-color:#62a2f5;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #204e8a;
	-webkit-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	-moz-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	box-shadow:inset 1px 1px 0px 0px #6da7f2;
	cursor: pointer;
}

#modal-zone #login-btn:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #5291e9), color-stop(100%, #62a2f5) );
	background:-moz-linear-gradient( center top, #5291e9 5%, #62a2f5 100% );
	background:-ms-linear-gradient( top, #5291e9 5%, #62a2f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5291e9', endColorstr='#62a2f5');
	background-color:#5291e9;
}

#modal-zone #login-btn:active{
	position:relative;
	top:1px;
}


/*----------ログインフォーム----------*/

.box{
	/*background-color: #eef1f4;*/
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 30px;
	padding-top: 15px;
	padding-bottom: 0px;
	border-radius: 5px;
	width: 300px;
	border: solid 1px #999;
	color: #131313;
	display: none;
	position: absolute;
	top: 55px;
	right: -10px;
	z-index: 1000;
	text-align: left;
	height: 270px;
	opacity: 1 !important;
}

.box h2{
	color: #444;
	height: 10px;
	font-size: 14px;
	margin-bottom: 60px;
	display: block !important;
}

#alert{
	line-height: 20px !important;
	position: absolute;
	padding-right: 20px;
	top: 50px;
	left: 20px;
	color: #444;
}

.box #UserLoginForm{
	height: 70px !important;
	margin-top: 0px;
	padding-top: 0px;
	display: block !important;
}

div.login-fm{
	display: block;
	height: 30px !important;
	margin-bottom: 15px;
}

#UserUsername{
	width: 315px;
	border-radius: 5px;
	height: 30px;
	border: none;
	border: 1px solid #dcdcdc;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
	box-sizing: border-box;
	padding-left: 6px;
	color: #444;
}

.login-user{
	width: 230px !important;
	display: block !important;
}

#login-pass{
	width: 230px !important;
	display: block !important;
}

.pass{
	width: 315px;
	height: 30px;
	border-radius: 5px;
	border: none;
	border: 1px solid #dcdcdc;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
	box-sizing: border-box;
	padding-left: 6px;
	color: #444;
}

#top-login-div{
	display: block;
	width: 230px;
	margin: 0 auto;
	height: 40px;
	margin-top: 70px;
}

.top-login{
	float: left;
	padding: 4px 15px;
	height: 30px;
	line-height:  22px;
	font-size:13px;
	text-align:  center;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #277ae6;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #62a2f5), color-stop(100%, #5291e9) );
	background:-moz-linear-gradient( center top, #62a2f5 5%, #5291e9 100% );
	background:-ms-linear-gradient( top, #62a2f5 5%, #5291e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62a2f5', endColorstr='#5291e9');
	background-color:#62a2f5;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #204e8a;
	-webkit-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	-moz-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	box-shadow:inset 1px 1px 0px 0px #6da7f2;
	margin-top:  -40px;
}

.top-login:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #5291e9), color-stop(100%, #62a2f5) );
	background:-moz-linear-gradient( center top, #5291e9 5%, #62a2f5 100% );
	background:-ms-linear-gradient( top, #5291e9 5%, #62a2f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5291e9', endColorstr='#62a2f5');
	background-color:#5291e9;
}

.top-login:active{
	position:relative;
	top:1px;
}

.cancel-login-btn{
	float: right;
	margin-top: -40px;
	width: 80px;
	height: 20px;
	line-height:  20px;
	text-align: center;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	padding:4px 11px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f5f5f5), color-stop(100%, #dfdfdf) );
	background:-moz-linear-gradient( center top, #f5f5f5 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #f5f5f5 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dfdfdf');
	background-color:#f5f5f5;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
	box-shadow:inset 1px 1px 0px 0px #ffffff;
	display: block !important;
	margin-right: 5px;
}


/*------先生コンテンツ部分のスタイル------*/
#top-picture{
	margin-top: 0px;
	width: 100%;
	height: 260px;
	background-image: url(../../img/about/teacher.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	/*background-size: 100%;*/
	background-color: #f6f5f9;
}

#inner-picture{
	width: 300px;
	margin: 0 auto;
	height: 260px;
}

#inner-picture h1{
	padding-top: 110px;
	/*padding-bottom: 110px;*/
	font-size: 24px;
	font-weight: normal;
	color: #444;
}

#desc1{
	width: 100%;
	background-color: #fff;
}

#inner-desc1{
	width: 300px;
	margin: 0 auto;
	color: #444;
	padding-top: 80px;
	padding-bottom: 65px;
}

#inner-desc1 h2{
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 15px;
}

#inner-desc1 p{
	margin-bottom: 20px;
	font-size: 18px;
	color: #666;
}

#desc2{
	background-color: #f4f4f4;
	width: 100%;
}

#inner-desc2{
	width: 300px;
	margin: 0 auto;
	color: #444;
	padding-top: 80px;
	padding-bottom: 55px;
}

#inner-desc2 h2{
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 15px;
}

#inner-desc2 p{
	margin-bottom: 80px;
	font-size: 18px;
	color: #666;
}

.desc2-box{
	width: 298px;
	border: solid 1px #dcdcdc;
	overflow: hidden;
	background-color: #ffffff;
	margin-top: 30px;
}

.inner-left{
	width: 228px;
	float: left;
	padding: 35px;
}

.inner-right{
	display: none;
	width: 251px;
	padding-right: 15px;
}

.desc2-box h3{
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: bold;
}

.desc2-box p{
	font-size: 18px;
	margin-bottom: 0px !important;
	color: #666;
}

#more-link{
	width: 300px;
	margin: 0 auto;
	padding-bottom: 45px;
}

#more-link a{
	font-size: 16px;
	text-decoration: none;
	color: #5291e9;
	margin-bottom: 15px;
	letter-spacing: 1px;
}


/*-----保護者コンテンツのスタイル-----*/

#top-parent-picture{
	margin-top: 0px;
	width: 100%;
	height: 260px;
	background-image: url(../../img/about/parents.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	background-color: #fbfbf5;
}

#top-parent-picture h1{
	color: #fff;
}

#wait{
	text-align: center;
	padding: 40px 0px;
}

#wait p{
	font-size: 18px;
	color: #666;
}

#wait small{
	font-size: 14px;
	color: #666;
}



/*-----生徒コンテンツのスタイル------*/
#top-student-picture{
	margin-top: 0px;
	width: 100%;
	height: 260px;
	background-image: url(../../img/about/student.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	background-color: #eff2e8;
}

#inner-student-picture{
	width: 300px;
	margin: 0 auto;
	height: 260px;
}

#inner-student-picture h1{
	padding-top: 110px;
	font-size: 24px;
	font-weight: normal;
	color: #fff;
}

#for-student{
	width: 100%;
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #444;
}

#inner-student{
	width: 300px;
	margin: 0 auto;
}

#inner-student h2{
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #444;
}

#inner-student p{
	font-size: 18px;
	margin-bottom: 80px;
	color: #666;
}

#to-signup{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fff;
	text-align: center;
}

.student-ver{
	background-color: #f4f4f4 !important;
}


#to-signup p{
	text-align: center;
	font-size: 24px;
	color: #444;
	margin-bottom: 10px;
}

.sign-up-btn{
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dbbf0b;
	padding:5px 50px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffe354), color-stop(100%, #ffd500) );
	background:-moz-linear-gradient( center top, #ffe354 5%, #ffd500 100% );
	background:-ms-linear-gradient( top, #ffe354 5%, #ffd500 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe354', endColorstr='#ffd500');
	background-color:#ffe354;
	color:#fffef7;
	display:inline-block;
	text-shadow:1px 1px 0px #d9b309;
	-webkit-box-shadow:inset 1px 1px 0px 0px #fff4bd;
	-moz-box-shadow:inset 1px 1px 0px 0px #fff4bd;
	box-shadow:inset 1px 1px 0px 0px #fff4bd;
	/*float: left;*/
	margin: 15px auto;
	cursor: pointer;
}


/*----------フッター部分のスタイル----------*/

footer{
	width: 100%;
	min-height: 80px;
	background-color: #4291e9;
}

#inner-footer{
	width: 300px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}

#footer-nav{
	text-align: center;
	margin-left: 0px;
	overflow: hidden;
	list-style-type: none;
	padding-top: 25px;
}

#footer-nav li{
	/*float: left;*/
	font-size: 14px;
	color: #fff;
	margin-right: 20px;
	margin-bottom: 20px;
}

#footer-nav li a{
	color: #fff;
	text-decoration: none;
}

#right-footer{
	margin: 0 auto;
	text-align: center;
	width: 300px;
	line-height: 40px;
	color: #93c6f9;
	font-size: 10px;
}


/*-----レイヤーのデザイン-----*/

#login-layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 50;
	display:  none;
}
