@media all and (min-width: 768px){
	img{
		margin: 0;
		padding: 0;
	}

	#album-header{
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: left;
		position:  relative;
		overflow: hidden;
		border: solid 1px #e2e2e2;
		background-color: #fcfcfc;
		color: #444;
		height: 34px;
		line-height: 34px;
		display: block;
		width: 515px;
		padding-left: 7px;
	}

	#album-zone{
		width: 524px;
		border: solid 1px #e2e2e2;
		background-color: #fcfcfc;
		box-sizing: border-box;
		padding: 12px;
		margin: 0;
	}

	.album-name{
		text-align: center;
		font-size: 14px;
		color: #444;
		margin-top: 10px;
		margin-bottom: 15px;
		border: none;
		padding: 0;
	}

	#album-zone img{
		width: 158px;
		height: 158px;
		border: solid 1px #e2e2e2;
		margin-right: 2px;
		margin-bottom: 12px;
	}

	.album-zone img.right{
		margin-right: 0px;
	}
}