
/*-----モバイル用デザイン-----*/

/*-----共通のデザイン-----*/
*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

html{
	-webkit-overflow-scrolling:touch;
}

body{
	margin: 0px;
	background-color: #eef1f4;
	font-size: 14px;
	font-family: "ヒラギノ角ゴシック ProN W3";
}

a{
	color: #444444;
	text-decoration: none;
}

div#wrapper{
	min-width: 320px;
	margin: 0 auto;
	min-height: 100%;
	height: 100%;
	position: relative;
	z-index: 20;
	background-color: #eef1f4;
}

body > div#wrapper{
	height: auto;
}


/*-----モバイル用左側メニューのデザイン-----*/
#mobile-left-menu{
	position: absolute;
	z-index: 1;
	width: 275px;
	top: 0;
	left: 0;
	min-height: 100%;
	height: 100%;
	border-radius: 0px;
	background-color: #fcfcfc;
	color: #444;
}

.menu-list{
	border-bottom: 1px solid #dcdcdc;
	height: 50px;
	color: #444;
	padding-left: 66px;
}

.menu-list a{
	display: block;
}

#mobile-menu-logo{
	height: 90px;
	border-bottom: 1px solid #dcdcdc;
}

#mobile-logo{
	display: block;
	margin: 0 auto;
	padding-top: 33px;
}

#mobile-menu-myProf{
	width: 100%;
	text-align: center;
	padding-top: 5px;
	overflow: hidden;
	border-bottom: 1px solid #dcdcdc;
	height: 50px;
}

#mobile-menu-myProf img{
	display: block;
	width: 36px;
	height: 36px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 50px;
	padding-top: 5px;
}

.mobile-myName{
	text-align: left;
	float: right;
	width: 209px;
	height: 50px;
}

.mobile-myName .myName{
	display: block;
	font-size: 14px;
	color: #444;
	padding-top: 5px;
	margin-bottom: -5px;
}

.mobile-category{
	font-size: 10px;
	color: #aeaeae;
}

#mobile-menu-class{
	background-image: url(../../img/top/group-icon.png);
	background-repeat: no-repeat;
	background-position: 15px 5px;
	line-height: 50px;
}

#mobile-menu-pole{
	line-height: 50px;
	background-image: url(../../img/top/pole-icon.png);
	background-repeat: no-repeat;
	background-position: 15px 5px;
}

#mobile-menu-logout{
	background-image: url(../../img/top/logout.png);
	background-repeat: no-repeat;
	background-position: 15px 5px;
	line-height: 50px;
}



/*----------ヘッダー部分のスタイル----------*/

.header{
	display: none;
}

/*----------モバイル用ナビゲーションのスタイル----------*/
#mobile-nav{
	width: 100%;
	height: 50px;
	/*background-color:  white;*/
	/*margin-bottom: 25px;*/
	position: relative;
	background: #2d3036 !important; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkMzAzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzI4MmMzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFjMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #2d3036 0%, #282c32 98%, #1a1c1e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d3036), color-stop(98%,#282c32), color-stop(100%,#1a1c1e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2d3036 0%,#282c32 98%,#1a1c1e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2d3036 0%,#282c32 98%,#1a1c1e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2d3036 0%,#282c32 98%,#1a1c1e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2d3036 0%,#282c32 98%,#1a1c1e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3036', endColorstr='#1a1c1e',GradientType=0 ); /* IE6-8 */
	border-radius: 0px;
	margin-bottom: 15px;
}

#mobile-menuBtn{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999;
	width: 70px;
	height: 50px;
	background-image: url(../../img/top/menu.png);
	background-repeat: no-repeat;
	background-position: 8px 16px;
	background-size: 25px 20px;
}


/*----------コンテンツ用スタイル----------*/
#content{
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
	/*background-color: #ffffff;*/
	margin-top: 10px;
	margin-bottom: 10px;
	/*border: solid 1px #ddd;*/
	position: relative;
}

#top-content{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 298px;
	overflow: hidden;
	border: solid 1px #ddd;
	background-color: #fff;
}

#profile-img{
	width: 105px;
	float: left;
	/*margin: 0 auto;*/
}

#profile-wrap{
	width: 80px;
	border: solid 1px #ddd;
	/*margin: 0 auto;*/
	margin-left: 5px;
	position: relative;
	z-index: 1;
}

#profile-wrap #slide{
	display: block;
	position: absolute;
	top: 85px;
	left: 0px;
	width: 122px;
	height: 35px;
	background-color: #000;
	color: #fff;
	opacity: 0.7;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
}

#profile-wrap #slide p{
	font-size: 11px;
}

#profile-img img{
	display: block;
	width: 70px;
	height: 70px;
	padding: 5px;
	background-color: #f2f2f2;
}

#profile-main{
	width: 300px;
	/*text-align: center;*/
	padding-top: 5px;
}

#profile-main input{
	width: 200px;
	height: 20px;
	margin-bottom: 15px;
	font-size: 15px;
}

#name{
	font-size: 21px;
	margin-top: -5px;
}

#username{
	margin-top: 15px;
	margin-bottom: 15px;
}

#category{
	color: #aaa;
	padding-top: 5px;
}

.edit-profile{
	display: block;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	padding:4px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
	box-shadow:inset 1px 1px 0px 0px #ffffff;
	position: relative;
	margin-left: 84px;
	margin-top: 15px;
	cursor: pointer;
}

.edit-profile:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #f5f5f5) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #f5f5f5 100% );
	background:-ms-linear-gradient( top, #dfdfdf 5%, #f5f5f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#f5f5f5');
	background-color:#dfdfdf;
}

/*
.edit-profile:active{
	position:relative;
	top:1px;
}
*/

#middle-content{
	overflow: hidden;
	margin-top: 10px;
}

.menu-box{
	display: block;
	float: left;
	width: 90px;
	height: 90px;
	margin-right: 15px;
	box-sizing: border-box;
	border: solid 1px #ddd;
	background-color: #fff;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 5px;
}

.profchart-img{
	width: 80px;
	height: 60px;
	margin-bottom: -4px;
}

#photo-filter{
	width: 80px;
	height: 60px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 2px;
}

#photo-filter img{
	width: 80px;
}

.menu-box span{
	display: inline-block;
	font-size: 14px;
	color: #444;
	letter-spacing: 2px;
}


/*-----ユーザーのpostsフィードのデザイン-----*/

#posts-content{
	margin-top: 10px;
}

.post-container{
	border: 1px solid #e2e2e2;
	background-color: #ffffff;
	width: 300px;
	margin: 0 auto;
	margin-top: 0px !important;
	margin-bottom: 26px;
	position: relative;
}

.post-container-inner{
	background-color: #ffffff;
	padding: 8px;
	overflow: hidden;
	padding: 0px;
	padding-top: 5px;
}

.space-dammy{
	padding: 8px;
}

.post-prof-left{
	float: left;
	width: 60px;
}

.post-prof-left img{
	width: 46px;
	height: 46px;
	margin-left: 4px;
	cursor: pointer;
}

.post-prof-right{
	width: 220px;
	float: left;
}

.post-prof-right .post-name{
	font-weight: bold;
}

.post-prof-right .post-name a{
	color: #5291e9;
}

.post-prof-right .post-name a:hover{
	text-decoration:  underline;
}

.post-prof-right .post-date{
	font-size: 13px;
	color: #c2c2c2;
	padding: 3px;
	padding-left: 0px;
	display: block;
}

.post-text-body{
	font-size: 14px;
	margin-top: 7px;
	padding-top: 7px;
	margin-bottom: 20px;
	padding-left: 4px;
	color: #444;
}

.post-text-body > a{
	color: #84c4ef;
}

.post-text-body > a:hover{
	text-decoration: underline;
}

.img-post-zone{
	width: 100%;
	margin-top: 8px;
}

.img-post-zone img{
	max-width: 278px;
	border-radius: 0px;
}



/*-----クイズリンクのデザイン-----*/
a.quiz-link{
	display: block;
	background-color: #f2f4f9;
	padding-left: 100px;
	padding-top: 10px;
	height: 80px;
	background-image: url(../../img/top/quiz-link.jpg);
	background-repeat: no-repeat;
	background-size: 75px 75px;
	background-position: 10px center;
	color: #5291e5;
	padding-right: 10px;
	word-break:break-all;
}


/*-----投稿リンクのデザイン-----*/
a.link{
	display: block;
	background-color: #f2f4f9;
	padding-left: 100px;
	padding-top: 10px;
	height: 80px;
	background-image: url(../../img/top/link.jpg);
	background-repeat: no-repeat;
	background-size: 75px 75px;
	background-position: 10px center;
	color: #5291e5;
	padding-right: 10px;
	word-break:break-all;
}




/*----------ポールのデザイン-----------*/

.wrap{
	position: relative;
	z-index: 10;
	margin-bottom: 10px;
	border: solid 2px #e6e6e6;
	border-radius: 3px;
	background-color: #fcfcfc;
	-webkit-transform: translate3d(0,0,0);
}

.check-wrap{
	position: absolute;
	top: 0;
	height: 36px;
	line-height: 36px;
	z-index: 100;
	padding-left: 5px;
}

.dammy-checkbox{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 4px;
	background-color: #fff;
	border: solid 1px #dcdcdc;
	cursor: pointer;
}

.clicked{
	background-image: url(../../img/top/check.png);
	background-repeat: no-repeat;
	background-size: 25px 25px;
}

.dammy-span{
	position: absolute;
	top: 0;
	left: 25px;
	height: 36px;
	line-height: 36px;
	z-index: 100;
}


.prog{
	height: 36px;
	width: 0%;
	/*background-color: #f0f8ff;*/
	background-color: #eaffe9;
	border-radius: 0px;
}

.check{
	position: absolute;
	z-index: 0;
	left: 0;
	opacity: 0;
}

.count-span{
	position: absolute;
	top: 0px;
	right: 10px;
	height: 36px;
	line-height: 36px;;
	z-index: 100;
	color: #57ab43;
	font-size: 14px;
}

.poll-span{
	display: inline-block;
	padding-top: 0px;
	font-size: 14px;
	margin-left: 15px;
	color: #57ab43;
}

/*-----pollに投稿したユーザーリストのモーダル-----*/

.user-list-modal{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 355px;
	margin-left: -150px;
	margin-top: -177px;
	background-color: #ffffff;
	display: none;
	z-index: 2000;
	overflow: scroll;
	/*border: solid 1px #dcdcdc;*/
}

.user-list-header{
	width: 292px;
	height: 40px;
	background-color: #5291e5;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #ffffff;
	font-size: 14px;
	line-height: 40px;
	padding-left: 8px;
}

.user-list-box{
	width: 100%;
	height: 62px;
	border-bottom: solid 1px #dcdcdc;
	overflow: hidden;
	font-size: 14px;
	color: #444;
}

.user-list-box img{
	width: 46px;
	height: 46px;
	padding: 8px;
	float: left;
}

.user-list-box span{
	display: inline-block;
	margin-top: 8px;
}


.mobile-poll-link{
	display: block;
	background-color: #f2f4f9;
	padding-left: 100px;
	padding-top: 15px;
	height: 80px;
	background-image: url(../../img/top/pole-icon.png);
	background-repeat: no-repeat;
	background-size: 75px 75px;
	background-position: 10px center;
	color: #5291e5;
	padding-right: 10px;
	word-break:break-all;
}

#mobile-poll-wrap{
	border: 1px solid #e2e2e2;
	background-color: #ffffff;
	width: 284px;
	margin: 0 auto;
	margin-top: 0px !important;
	margin-bottom: 26px;
	position: relative;
	padding: 8px;
	overflow: hidden;
}

#mobile-poll-wrap p{
	margin-bottom: 15px;
	font-size: 14px;
	color: #444;
}

.return-home{
	width: 80px;
	height: 20px;
	line-height:  20px;
	text-align: center;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	padding:4px 11px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f5f5f5), color-stop(100%, #dfdfdf) );
	background:-moz-linear-gradient( center top, #f5f5f5 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #f5f5f5 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dfdfdf');
	background-color:#f5f5f5;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
	box-shadow:inset 1px 1px 0px 0px #ffffff;
	float: right;
	margin-top: 15px;
}




/*----------コメント用フィード----------*/

.comment-wrap{
	/*max-height: 295px;*/
	height: auto;
	overflow: hidden;
}

.more-comment{
	background-color: #f2f4f9;
	text-align: left;
	border-bottom: solid 1px #fff;
	color: #5291e9;
	font-size: 12px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	cursor: pointer;
}

.more-comment:hover{
	text-decoration: underline;
}

.more-img{
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-bottom: -3px;
}


.post-comments{
	/*background-color: #f9f9f9;*/
	background-color: #f6f7fb;
	padding:  8px 8px 8px 8px;
	overflow: hidden;
	border-radius: 0px;
	position: relative;
}

.left-comments{
	float: left;
	width: 32px;
	padding-top: 4px;
}

.left-comments img{
	width: 32px;
	height: 32px;
}

.right-comments{
	float: right;
	width: 100%;
	margin-left: -40px;
}

.right-inner{
	margin-left: 40px;
}

.comment-name{
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-top: 2px;
	margin-right: 15px;
}

.comment-name a{
	color: #5291e9;
}

.comment-name a:hover{
	text-decoration:  underline;
}

.comment-date{
	font-size: 10px;
	color: #c2c2c2;
	padding: 3px;
	float: left;
	margin-top: 2px;
}

.comment-text-body{
	font-size: 12px;
	margin-top: 0px;
	padding-left: 40px;
	clear: both;
}

.comment-text-body > a{
	color: #84c4ef;
}

.comment-text-body > a:hover{
	text-decoration: underline;
}

.delete-comment{
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 17px;
	height: 17px;
	background-image: url(../../img/top/group-cansel.png);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
}


/*-----返信用フォーム-----*/

.post-reply{
	border-top: solid 1px #dcdcdc;
	background: #f6f7fb;
}

.post-reply-inner{
	padding: 8px;
	overflow: hidden;
}

#CommentBody{
	border: 1px solid #d3d3d3;
	width: 97%;
	height: 30px;
	padding-left: 5px;
	float: left;
	min-height: 30px;
	font-size: 14px;
	resize: vertical;
}

.comment-btn{
	display: none;
	font-size:11px;
	width: 18% !important;
	text-align: center;
	height: 30px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #277ae6;
	/*padding:4px 15px;*/
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #62a2f5), color-stop(100%, #5291e9) );
	background:-moz-linear-gradient( center top, #62a2f5 5%, #5291e9 100% );
	background:-ms-linear-gradient( top, #62a2f5 5%, #5291e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62a2f5', endColorstr='#5291e9');
	background-color:#62a2f5;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #204e8a;
	-webkit-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	-moz-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	box-shadow:inset 1px 1px 0px 0px #6da7f2;
	float: right;
	cursor: pointer;
}

.post-reply input{
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.delete-post{
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 17px;
	height: 17px;
	background-image: url(../../img/top/group-cansel.png);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
}

/*----------ローディング表示用デザイン----------*/
#page-navigation{
	margin-top: 10px;
	text-align: center;
}

/*----------写真モーダル用のデザイン----------*/
.image-modal{
	display: none;
}


/*----------削除確認モーダル----------*/

.modal-design{
	background: none repeat scroll 0 0 rgba(255,255,255,1);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	display: none;
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -156px;
	width: 300px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 7px #5291e9;
	padding-bottom: 10px;
	min-height: 150px;
	z-index: 9999;
}

.confirm-header{
	margin-top: 0px;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 280px;
	height: 40px;
	background-color: #ffffff;
	text-align: center;
	color: #444;
	line-height: 40px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: solid 1px #c2c2c2;
	font-size: 14px;
}

.modal-design p{
	text-align: center;
	padding-bottom: 3px;
	color: #444444;
}

.confirmBtns{
	width: 220px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border-top: solid 1px #c2c2c2;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	padding-left: 60px;
}

.done-comment-delete, .done-delete, .done-delete-class{
	width: auto;
	padding: 3px 14px;
	line-height:  22px;
	float: left;
	font-size:13px;
	text-align:  center;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #277ae6;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #62a2f5), color-stop(100%, #5291e9) );
	background:-moz-linear-gradient( center top, #62a2f5 5%, #5291e9 100% );
	background:-ms-linear-gradient( top, #62a2f5 5%, #5291e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62a2f5', endColorstr='#5291e9');
	background-color:#62a2f5;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #204e8a;
	-webkit-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	-moz-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	box-shadow:inset 1px 1px 0px 0px #6da7f2;
	margin-right:  15px;
}

.done-delete, .done-delete-class:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #5291e9), color-stop(100%, #62a2f5) );
	background:-moz-linear-gradient( center top, #5291e9 5%, #62a2f5 100% );
	background:-ms-linear-gradient( top, #5291e9 5%, #62a2f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5291e9', endColorstr='#62a2f5');
	background-color:#5291e9;
}

.done-delete, .done-delete-class:active{
	position:relative;
	top:1px;
}

.cancel-delete{
	width: 80px;
	height: 20px;
	line-height:  20px;
	text-align: center;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	padding:4px 11px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f5f5f5), color-stop(100%, #dfdfdf) );
	background:-moz-linear-gradient( center top, #f5f5f5 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #f5f5f5 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dfdfdf');
	background-color:#f5f5f5;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
	 box-shadow:inset 1px 1px 0px 0px #ffffff;
	float: left
}

.cancel-delete:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #f5f5f5) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #f5f5f5 100% );
	background:-ms-linear-gradient( top, #dfdfdf 5%, #f5f5f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#f5f5f5');
	background-color:#dfdfdf;
}

.cancel-delete:active{
	position:relative;
	top:1px;
}

/*----------ローディング表示用デザイン----------*/
#page-navigation{
	margin-top: 10px;
	text-align: center;
}



/*---------ユーザー編集画面のスタイル----------*/

#UserPhoto{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

#profile-btns{
	width: 170px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-top: 15px;
}

.edit-done{
	float: left;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #277ae6;
	padding:4px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #62a2f5), color-stop(100%, #5291e9) );
	background:-moz-linear-gradient( center top, #62a2f5 5%, #5291e9 100% );
	background:-ms-linear-gradient( top, #62a2f5 5%, #5291e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62a2f5', endColorstr='#5291e9');
	background-color:#62a2f5;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #204e8a;
	-webkit-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	-moz-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	box-shadow:inset 1px 1px 0px 0px #6da7f2;
}

.edit-done:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #5291e9), color-stop(100%, #62a2f5) );
	background:-moz-linear-gradient( center top, #5291e9 5%, #62a2f5 100% );
	background:-ms-linear-gradient( top, #5291e9 5%, #62a2f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5291e9', endColorstr='#62a2f5');
	background-color:#5291e9;
}

.edit-done:active{
	position:relative;
	top:1px;
}

.edit-cancel{
	margin-top: 0px;
	width: 80px;
	height: 20px;
	line-height:  20px;
	text-align: center;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	padding:4px 11px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f5f5f5), color-stop(100%, #dfdfdf) );
	background:-moz-linear-gradient( center top, #f5f5f5 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #f5f5f5 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dfdfdf');
	background-color:#f5f5f5;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
	box-shadow:inset 1px 1px 0px 0px #ffffff;
	float: right
}

.edit-cancel:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #f5f5f5) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #f5f5f5 100% );
	background:-ms-linear-gradient( top, #dfdfdf 5%, #f5f5f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#f5f5f5');
	background-color:#dfdfdf;
}

.edit-cancel:active{
	position:relative;
	top:1px;
}


/*-----PC用オプション吹き出し-----*/
ul.pcOption{
	display: none;
}


/*----------ブラックアウト用レイヤー----------*/
#top-layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 100;
	display:  none;
}

#layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 10;
	display: none;
}

#mobile-menu-layer{
	position: fixed;
	top: 0;
	left: 275px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	z-index: 150;
	display:  none;
}

#image-layer{
	display: none;
}

#confirm-layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 100;
	display:  none;
}

#user-list-modal-layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 100;
	display:  none;
}






