/*----------削除確認モーダル----------*/

.modal-design{
	background: none repeat scroll 0 0 rgba(255,255,255,1);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	display: none;
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -156px;
	width: 300px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 7px #5291e9;
	padding-bottom: 10px;
	min-height: 150px;
	z-index: 9999;
}

.confirm-header{
	margin-top: 0px;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 280px;
	height: 40px;
	background-color: #ffffff;
	text-align: center;
	color: #444;
	line-height: 40px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: solid 1px #c2c2c2;
	font-size: 14px;
}

.modal-design p{
	text-align: center;
	padding-bottom: 3px;
	color: #444444;
}

.confirmBtns{
	width: 220px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border-top: solid 1px #c2c2c2;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	padding-left: 60px;
}

.done-delete, .done-delete-class, .done-modal{
	width: auto;
	padding: 3px 14px;
	line-height:  22px;
	float: left;
	font-size:13px;
	text-align:  center;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #277ae6;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #62a2f5), color-stop(100%, #5291e9) );
	background:-moz-linear-gradient( center top, #62a2f5 5%, #5291e9 100% );
	background:-ms-linear-gradient( top, #62a2f5 5%, #5291e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62a2f5', endColorstr='#5291e9');
	background-color:#62a2f5;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #204e8a;
	-webkit-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	-moz-box-shadow:inset 1px 1px 0px 0px #6da7f2;
	box-shadow:inset 1px 1px 0px 0px #6da7f2;
	margin-right:  15px;
}

.done-delete, .done-delete-class:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #5291e9), color-stop(100%, #62a2f5) );
	background:-moz-linear-gradient( center top, #5291e9 5%, #62a2f5 100% );
	background:-ms-linear-gradient( top, #5291e9 5%, #62a2f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5291e9', endColorstr='#62a2f5');
	background-color:#5291e9;
}

.done-delete, .done-delete-class:active{
	position:relative;
	top:1px;
}

.cancel-delete, .cancel-modal{
	width: 80px;
	height: 20px;
	line-height:  20px;
	text-align: center;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	padding:4px 11px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f5f5f5), color-stop(100%, #dfdfdf) );
	background:-moz-linear-gradient( center top, #f5f5f5 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #f5f5f5 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dfdfdf');
	background-color:#f5f5f5;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
	 box-shadow:inset 1px 1px 0px 0px #ffffff;
	float: left
}

.cancel-delete:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #f5f5f5) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #f5f5f5 100% );
	background:-ms-linear-gradient( top, #dfdfdf 5%, #f5f5f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#f5f5f5');
	background-color:#dfdfdf;
}

.cancel-delete:active{
	position:relative;
	top:1px;
}

/*----------ブラックアウト用レイヤー----------*/

#layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 10;
	display: none;
}

#top-layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	z-index: 50;
	display:  none;
}

#mobile-menu-layer{
	position: fixed;
	top: 0;
	left: 275px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	z-index: 150;
	display:  none;
}

#image-layer{
	display: none;
}

#confirm-layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 100;
	display:  none;
}

/*---------- quiz ------------*/
.quizes {
	width: 300px;
}
.quizes .list-container {
	width: 100%;
}
.button.create {
	width: 300px;
}